.results{
    position: absolute;
top: 55%;
right: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 580px;
height: 300px;
padding: 50px;
background:url(/static/white.jpg);
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
border-radius: 7px;

font-family: sans-serif;
font-weight: bold;
box-shadow: 0 19px 29px rgba(0,0,0,0.5);}
.result-p{
    padding-top: 13.2%;
    font-family: sans-serif;
    font-size: 26px;
}
